In [ ]:
import pandas as pd

data = pd.read_csv("train.csv")
data1 = pd.read_csv("test.csv")
data

         id  label                                              tweet
0         1      0  @user when a father is dysfunctional and is so...
1         2      0  @user @user thanks for #lyft credit i can't us...
2         3      0                                bihday your majesty
3         4      0  #model   i love u take with u all the time in ...
4         5      0             factsguide: society now    #motivation
...     ...    ...                                                ...
9995   9996      0  @user my routine is out of whack! evening walk...
9996   9997      0  i'm dead but still happy #poledance #madrid ##...
9997   9998      0  â #united kingdom claimant count rate up to ...
9998   9999      0  rip my friend ð¢ð¢ #shocked   #dismay #hea...
9999  10000      0  how to open... your  , loving hea  #thursdayth...

[10000 rows x 3 columns]

In [ ]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
print(stopwords.words('english'))
from wordcloud import WordCloud

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

In [ ]:
import string
string.punctuation

def remove_punct(text):
  text_= "".join([char for char in text if char not in string.punctuation])
  return text_

In [ ]:
data["tweet"] = data["tweet"].apply(lambda x: remove_punct(x))
data.head()

   id  label                                              tweet
0   1      0  user when a father is dysfunctional and is so ...
1   2      0  user user thanks for lyft credit i cant use ca...
2   3      0                                bihday your majesty
3   4      0  model   i love u take with u all the time in u...
4   5      0               factsguide society now    motivation

In [ ]:
import regex as re
def clean_(text):
  text=re.sub("RT","",text)
  return text

data["tweet"]=data["tweet"].apply(lambda x: clean_(x))
data.head()

   id  label                                              tweet
0   1      0  user when a father is dysfunctional and is so ...
1   2      0  user user thanks for lyft credit i cant use ca...
2   3      0                                bihday your majesty
3   4      0  model   i love u take with u all the time in u...
4   5      0               factsguide society now    motivation

In [ ]:
import regex as re
def tokenize(text):
  tokens=re.split('\W+',text)
  return tokens
data["tweet"]=data["tweet"].apply(lambda x: tokenize(x.lower()))

In [ ]:
import nltk
stopword = nltk.corpus.stopwords.words('english')

In [ ]:
def remove_stopwords(list_):
  text=[word for word in list_ if word not in stopword]
  return text
data["tweet"]=data["tweet"].apply(lambda x: remove_stopwords(x))

In [ ]:
stemming=nltk.PorterStemmer()

def stem_(text_):
  text=[stemming.stem(word) for word in text_]
  return text
data["tweet"]=data["tweet"].apply(lambda x: stem_(x))

In [ ]:
nltk.download('wordnet')
wn=nltk.WordNetLemmatizer()

def lemmatizing(tok_text):
  text_= [wn.lemmatize(word) for word in tok_text]
  return text_

data["tweet"]=data["tweet"].apply(lambda x: lemmatizing(x))

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
data["tweet"] = [" ".join(map(str, j)) for j in data["tweet"]]

In [ ]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

nltk.download("vader_lexicon")

[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:20: UserWarning: The twython library has not been installed. Some functionality from the twitter package will not be available.
  warnings.warn("The twython library has not been installed. "

True

In [ ]:
senti=SentimentIntensityAnalyzer()
data["sentiment"]=data["tweet"].apply(lambda x: senti.polarity_scores(x))
data.head()

   id  ...                                          sentiment
0   1  ...  {'neg': 0.455, 'neu': 0.545, 'pos': 0.0, 'comp...
1   2  ...  {'neg': 0.0, 'neu': 0.718, 'pos': 0.282, 'comp...
2   3  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
3   4  ...  {'neg': 0.0, 'neu': 0.488, 'pos': 0.512, 'comp...
4   5  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...

[5 rows x 4 columns]

In [ ]:
def remove_pattern(input_txt, pattern):
    r = re.findall(pattern, input_txt)
    for i in r:
        input_txt = re.sub(i, '', input_txt)        
    return input_txt

In [ ]:
import numpy as np
def clean_tweets(lst):
    # to remove twitter Return handlesS
    lst = np.vectorize(remove_pattern)(lst, "RT @[\w]*:")
    # remove twitter handles (@xxx)
    lst = np.vectorize(remove_pattern)(lst, "@[\w]*")
    # to remove URL links
    lst = np.vectorize(remove_pattern)(lst, "https?://[A-Za-z0-9./]*")
    # remove special characters, numbers, punctuations (except for #)
    lst = np.core.defchararray.replace(lst, "[^a-zA-Z#]", " ")
    return lst

In [ ]:
data["tweet"]=data["tweet"].apply(lambda x: clean_tweets(x))
data.head()

   id  ...                                          sentiment
0   1  ...  {'neg': 0.455, 'neu': 0.545, 'pos': 0.0, 'comp...
1   2  ...  {'neg': 0.0, 'neu': 0.718, 'pos': 0.282, 'comp...
2   3  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...
3   4  ...  {'neg': 0.0, 'neu': 0.488, 'pos': 0.512, 'comp...
4   5  ...  {'neg': 0.0, 'neu': 1.0, 'pos': 0.0, 'compound...

[5 rows x 4 columns]

In [ ]:
def sentiment_analyzer_scores(text):
    score = senti.polarity_scores(text)
    lb = score['compound']
    if lb >= 0.05:
        return 1
    elif (lb > -0.05) and (lb < 0.05):
        return 0
    else:
        return -1

In [ ]:
import numpy as np
from scipy.sparse import hstack
from sklearn.feature_extraction.text import CountVectorizer
count_vectorizer = CountVectorizer(ngram_range=(1,2))

In [ ]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer  
tfidfconverter = TfidfVectorizer()  
X = tfidfconverter.fit_transform(data.tweet).toarray()

In [ ]:
y = data.label

In [ ]:
from sklearn.model_selection import train_test_split  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
text_classifier = RandomForestClassifier()  
text_classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [ ]:
predictions = text_classifier.predict(X_test)

In [ ]:
from sklearn.ensemble import VotingClassifier
from sklearn import model_selection
from sklearn.metrics import confusion_matrix,classification_report,roc_curve,f1_score,roc_auc_score,auc
from sklearn. preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [ ]:

kfold = model_selection.KFold(n_splits=10, random_state = 0)
result1 = model_selection.cross_val_score(text_classifier, X_train, y_train, cv=kfold)
print('Accuracy of Random Forest Classifier Model = ',result1.mean())
f1_svm1 = f1_score(y_test, predictions,average='macro')
print('f1 score:',f1_svm1)
print('confusion matrix for 3 classes:\n',confusion_matrix(y_test,predictions))

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

Accuracy of Random Forest Classifier Model =  0.951
f1 score: 0.6955190554324475
confusion matrix for 3 classes:
 [[1853    8]
 [ 100   39]]

In [ ]:
from sklearn.linear_model import LogisticRegression
text_classifier1 = LogisticRegression(C=5, class_weight=None, dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='multinomial', n_jobs=None, penalty='l2', random_state=None,
          solver='newton-cg', tol=0.0001, verbose=0, warm_start=False)
text_classifier1.fit(X_train, y_train)

LogisticRegression(C=5, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='multinomial', n_jobs=None, penalty='l2',
                   random_state=None, solver='newton-cg', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
predictions1 = text_classifier1.predict(X_test)

In [ ]:
kfold = model_selection.KFold(n_splits=10, random_state = 0)
result2 = model_selection.cross_val_score(text_classifier1, X_train, y_train, cv=kfold)
print('Accuracy of Logistic Regression Model = ',result2.mean())
f1_svm2 = f1_score(y_test, predictions1,average='macro')
print('f1 score:',f1_svm2)
print('confusion matrix for 3 classes:\n',confusion_matrix(y_test,predictions1))

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

Accuracy of Logistic Regression Model =  0.9512499999999999
f1 score: 0.7153446004777746
confusion matrix for 3 classes:
 [[1855    6]
 [  96   43]]